nav {
  background-color: white;
  text-align: center;
  font-weight: bold;
}

nav a {
  padding: 0.5em 0;
  width: 12em;
  display: inline-block;
  color: darkgray;
  text-decoration: none;
  float: right;
}

nav a.active {
  color: rgb(53, 53, 53);
  font-style: bold;
  text-decoration: none;
}

nav a:hover {
  color: black;
  text-decoration: none;
}

nav .Navigation-home {
  float: left;
}